<footer class="footer">
	<div class="quote">
		<div class="container">
			<div class="row quote">
				<div class="col-md-2">
				</div>
				<div class="col-md-8 clearfix">
					<div class="pull-left quote-icon">
						<i class="icon icon-quote icon-flipped"></i>
					</div>
					<div class="quote-container">
						<span>"I mean to make myself a man, and if I succeed in that, I shall succeed in everything else."</span>
						<br/>
						<span class="quote-src">James A. Garfield, Williams College - Class of 1856</span>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div class="row social">
			<ul class="list-inline">
				<li>
					<a href="https://www.facebook.com/pages/Delta-Upsilon-University-of-Minnesota/240488512642670?ref=br_rs" target="_blank" class="social-facebook">
						<i class="icon icon-facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/DU_UMN" target="_blank" class="social-twitter">
						<i class="icon icon-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/company/delta-upsilon-international-fraternity" target="_blank" class="social-linkedin">
						<i class="icon icon-linkedin"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Back To Top</a>
		</div>
		<div class="row">
			<p class="text-muted">Copyright © {{ 'now' | date: '%Y' }} <a href="#">Delta Upsilon - Minnesota Chapter</a></p>
		</div>
	</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>